
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ dir }}static/style.css">
    <link rel="stylesheet" href="{{ dir }}static/download.css">
    <link rel="stylesheet" href="{{ dir }}static/variables.css">
    <script defer src="{{ dir }}static/script/script.js"></script>
    <script defer src="{{ dir }}static/script/download.js"></script>
    <title>Croco-File-Crusher</title>
</head>
<body>
<noscript><p>Your Browser doesn't support JavaScript.</p></noscript>
<script>
    let ROOT_DIR = "{{ dir }}";
</script>
{% csrf_token %}
<div hidden id="user_id">{{ user_id }}</div>
<div hidden id="request_id">{{ request_id }}</div>

<div id="header">
    <h1 id="heading"> Croco-File-Crusher </h1>
    <h2 id="subheading"> Download the processed Files here. </h2>
</div>
<button onclick="window.prompt('Not implemented Yet (TODO)');">Clear All</button>
<div id="content_container"></div>
</body>

</html>