<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ dir }}static/style.css">
    <link rel="stylesheet" href="{{ dir }}static/variables.css">
    <link rel="stylesheet" href="{{ dir }}static/helptext.css">

    <script src="{{ dir }}static/dropzone/dropzone.js"></script>
    <link rel="stylesheet" href="{{ dir }}static/dropzone/dropzone.css">

    <title>Croco-File-Crusher</title>
</head>

<body>

<!------------------------------------------------Headline------------------------------------------------------------->
<div id="header">
    <h1 id="heading"> Croco-File-Crusher </h1>
    <h2 id="subheading"> Want to get rid of redundant data? </h2>
</div>

<div id="forms_container">
    <!----- Dropzone -------------------------------------------------------------------------------------------------->
    <form id="my-dropzone" action="api/upload_file/" method="post" class="dropzone">
        {% csrf_token %}
    </form>

    <!----- compression options --------------------------------------------------------------------------------------->
    <form action="start_pdf_compression/" method="post" name="compression_options_form" id="compression_options_form">
        {% csrf_token %}
        {% for form_element in form %}
            <div class="form_element">
                <span class="helptext">{{ form_element.help_text }}</span>
                <span id="{{ form_element.auto_id }}">{{ form_element.label }}</span>
                {{ form_element }}
            </div>
        {% endfor %}
    </form>

</div>
<button id="compress_button" class="disabled">Compress</button>

<!--------- image of the "Croco-File" --------------------------------------------------------------------------------->
<img id="picture_of_croco_file"
     src="https://media.istockphoto.com/vectors/illustration-of-a-smiling-crocodile-vector-id1182596568?k=20&m=1182596568&s=170667a&w=0&h=KfqG2ZxPQONZplvl501LTh_b97yfhoOqRzDJeiXGgOY="
     alt="Image of a friendly looking Crocodile in a comic art style."/>
<br>

<!--------- Linking_Git ----------------------------------------------------------------------------------------------->
<footer id="github_project_link">
    Do you want to review the project? Visit <a href="https://github.com/pIlIp-d/PDF-Compressor/tree/dev">github.com/Croco-File-Crusher</a>
    to have a look at the Croco-File-Crusher.
</footer>

<script>

    let compress_button = document.getElementById("compress_button");
    let csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;

    let dz = null;
    Dropzone.options.maxFiles = 100;
    Dropzone.options.myDropzone = {
        // Prevents Dropzone from uploading dropped files immediately
        autoProcessQueue: true,
        init: function () {
            dz = this;
            let _this = this;
            this.on("addedfile", function (file) {
                if (!correct_file_ending(file.name)) {
                    this.removeFile(file);
                    showUnsupportedFileAnimation() // TODO add a css animation
                    return;
                }
                file.file_id = null;
                let removeButton = Dropzone.createElement("<button class='remove-button'>Remove file</button>");
                removeButton.addEventListener("click", function (e) {
                    // Make sure the button click doesn't submit the form:
                    e.preventDefault();
                    e.stopPropagation();
                    // Remove the file preview.
                    _this.removeFile(file);

                });
                file.previewElement.appendChild(removeButton);
            });
            this.on("removedfile", function (file) {
                if (file.file_id != null) {
                    let queue_csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
                    let user_id = "{{ user_id }}";
                    let removeFileRequest = new XMLHttpRequest();
                    removeFileRequest.onreadystatechange = function () {
                    };
                    removeFileRequest.open(
                        "GET",
                        "{{ dir }}api/remove_file/?file_id=" + file.file_id + "&user_id=" + user_id + "&queue_csrf_token=" + queue_csrf_token,
                        true
                    );
                    removeFileRequest.send();
                }
                if (_this.files.length === 0)
                    deactivate_compression_button() // case: no element
            });
            this.on("queuecomplete", function () {
                activate_compression_button();
            });
            this.on("success", function (file, responseText) {
                file.file_id = responseText.file_id;
            });

        }
    };

    function activate_compression_button() {
        compress_button.classList.remove("disabled");
        compress_button.classList.add("enabled");
        compress_button.disabled = false;
        compress_button.addEventListener("click", submit_compression_options_form);
    }

    function deactivate_compression_button() {
        compress_button.classList.remove("enabled");
        compress_button.classList.add("disabled");
        compress_button.disabled = true;
        compress_button.removeEventListener("click", submit_compression_options_form);
    }

    function submit_compression_options_form() {
        document.getElementById("compression_options_form").submit();
    }

    function correct_file_ending(filename) {
        let allowed_file_ending = [
            {% for ending in allowed_file_endings  %}
                "{{ ending }}",
            {% endfor %}
        ];
        for (let ending in allowed_file_ending) {
            if (ending != null && filename.endsWith(allowed_file_ending[ending])) {
                return true;
            }
        }
        return false;
    }

    // Animations
    function showUnsupportedFileAnimation() {
        let dropzone = document.getElementById("my-dropzone");
        dropzone.classList.add("wiggle");
        setTimeout(function () {
            dropzone.classList.remove("wiggle");
        }, 1000); //At least the time the animation lasts
    }

</script>

</body>