<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="{{ dir }}static/dropzone/dropzone.js"></script>
    <link rel="stylesheet" href="{{ dir }}static/dropzone/dropzone.css">
    <link rel="stylesheet" href="{{ dir }}static/style.css">
    <link rel="stylesheet" href="{{ dir }}static/variables.css">
    <link rel="stylesheet" href="{{ dir }}static/helptext.css">
    <script defer src="{{ dir }}static/script/script.js"></script>
    <script defer src="{{ dir }}static/script/forms.js"></script>
    <script defer src="{{ dir }}static/script/changeable.js"></script>
    <script defer src="{{ dir }}static/script/dropzone_form.js"></script>

    <title>Croco-File-Crusher</title>
</head>

<body>
<noscript><p>Your Browser doesn't support JavaScript.</p></noscript>

<script>
    let allowed_file_endings = [];
    let ROOT_DIR = "{{ dir }}";
    let USER_ID = "{{ user_id }}";
    let REQUEST_ID = "{{ request_id }}";
    let current_plugin = "{{ plugin }}";
</script>

<div id="header">
    <h1 id="heading"> Croco-File-Crusher </h1>
    <h2 id="subheading"> Want to get rid of redundant data? </h2>
</div>

<div id="forms_container">
    <!----- Dropzone -------------------------------------------------------------------------------------------------->
    <form id="my-dropzone" action="{{ dir }}api/upload_file/" method="post" class="dropzone">
        {% csrf_token %}
        <input type="hidden" name="request_id" value="{{ request_id }}"/>
    </form>

    <!----- compression options --------------------------------------------------------------------------------------->
    <form action="{{ dir }}start_processing_and_show_download_view/" method="post" name="compression_options_form"
          id="compression_options_form">
        {% csrf_token %}
        <label for="destination_type_select">-></label>
        <select name="destination_type_select" id="destination_type_select">
            <option value="null">Choose a Result File Type</option>
        </select>
        <input type="hidden" name="request_id" value="{{ request_id }}"/>

        <div id="form_content"></div>
    </form>

</div>
<button id="process_button" class="disabled">Process</button>

<!--------- image of the "Croco-File" --------------------------------------------------------------------------------->
<img id="picture_of_croco_file"
     src="https://media.istockphoto.com/vectors/illustration-of-a-smiling-crocodile-vector-id1182596568?k=20&m=1182596568&s=170667a&w=0&h=KfqG2ZxPQONZplvl501LTh_b97yfhoOqRzDJeiXGgOY="
     alt="Image of a friendly looking Crocodile in a comic art style."/>
<br>

<!--------- Linking_Git ----------------------------------------------------------------------------------------------->
<footer id="github_project_link">
    Do you want to review the project? Visit <a href="https://github.com/pIlIp-d/PDF-Compressor/tree/dev">github.com/Croco-File-Crusher</a>
    to have a look at the Croco-File-Crusher.
</footer>




</body>