
*.log

# Pycache and compiled python files.
__pycache__/
*py[cod]

# Juyter notebook checkpoints
.ipynb_checkpoints

#Egg info files produced by pip installation
*egg-info
/config.json
/venv/
/django_app/media/
/.idea
/django_app/db.sqlite3
