:root {
    --accent-color: darkolivegreen;
}

label {
    display: inline-block;
}

.body {
    font-family: 'Courier New', serif;
    font-size: x-large;
    margin: 0;
    padding:0;
}

#header {
    width: 100%;
}

#heading {
    color: var(--accent-color);
    font-size:xxx-large;
    font-style: initial;
    text-align: center;
}

#subheading {
    font-size: x-large;
    text-align: center;
}

#picture_of_croco_file {
    width: 40vh;
    margin: auto;
    display: block;
}

#compression_options_form {
    text-align: left;
    font-size: x-large;
    color: black;
    margin-bottom: 1.5rem;
}

#my-dropzone {
    height: auto;
    border-color: grey;
    border-width: 5px;
    font-size: large;
    position: relative;
}

#compress_button {
    font-size: x-large;
    background: var(--accent-color);
    text-align: center;
    margin: 1rem auto auto;
    padding: 2rem;
    border-radius: 0.5rem;
    display: block;
}

#github_project_link {
    font-size: x-large;
    text-align: center;
    position: fixed;
    bottom:0;
    padding-bottom: 1rem;
    width: 100vw;
    background: white;
}

.hidden_input {
    display: None;
    pointer-events: none;
}

.remove_button {
    margin: auto;
    display: block;
    position: absolute;
}

#forms_container{
    padding:1rem;
    border-style: dashed;
    width:70vw;
    margin:auto;
}

.enabled{
     opacity: 1;
}
.disabled{
     opacity: 0.5;
}
button:disabled,
    button[disabled] {
        border: 1px solid #999999;
        background-color: darkgrey;
        color: #fff;
        padding: 10px;
        cursor: not-allowed;
    }

/* wiggle animation starts when class wiggle is added*/
.wiggle {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}