body {
    font-family: 'Courier New', serif;
    font-size: x-large;
    margin: 0;
    padding:0;
}

#header {
    width: 100%;
    text-align: center;
}
#heading {
    color:darkolivegreen;
    font-size:xxx-large;
}

#subheading {
    font-size: x-large;
}

#picture_of_croco_file {
    width: 17%;
    height: 17%;
}

#compression_options {
    font-size: x-large;

}

#my-dropzone {
      height: 300px;
    width:700px;
    border-color: grey;
    border-width: 5px;
     font-size: larger;
}

footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    background: white;
}

.hidden_input{
    display: None;
    pointer-events: none;
}

#submit-all {
    font-size: x-large;
    color: white;
    background: darkolivegreen;
}