<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="static/style.css">
    <script src="static/dropzone/dropzone.js"></script>
    <link rel="stylesheet" href="static/dropzone/dropzone.css">

    <title>Croco-File-Crusher</title>
</head>
<body>
<script>
    function update_source_file_list(){
        let files = document.getElementsByClassName("dz-filename");
        console.log(files);
        let source_files_list = [];
        for (let file in files){
            source_files_list.append(file);
        }
        document.getElementById("source_files").innerHTML = JSON.stringify(source_files_list);
    }
    Dropzone.options.myDropzone = {
      init: function() {
        this.on("success", function(file, responseText) {   <!-- TODO responseText isn't used yet  -->
            console.log("ready with "+ file);

        });
      }
    };

</script>

<!------------------------------------------------Headline------------------------------------------------------------->
<div id="header">
    <h1 id="heading"> Croco-File-Crusher </h1>
    <h2 id="subheading"> Want to get rid of redundant data? </h2>
</div>

<!-----------------------------------multiple options for compression-------------------------------------------------->
<form action="form_submit/" method="post" class="dropzone" id="my-dropzone">

    {% csrf_token %}
    <div id="compression_options">
        <label for="destination_file">
            destination file:
            <input type="text" id="destination_file" name="destination_file" value="default">
        </label>

        <br>

        <label for="compression_mode">
            compression mode:
            <select name="compression_mode" id="compression_mode">
                <option value="1">1: Extreme</option>
                <option value="2">2: Strong</option>
                <option value="3">3: Medium</option>
                <option value="4">4: Fast</option>
                <option selected="selected" value="5">5: Fastest</option>
            </select>
        </label>
        <br>

        <label for="default_pdf_dpi">
            default DPI:
            <input type="number" name="default_pdf_dpi" id="default_pdf_dpi" value="400" step="10">
        </label>
        <br>

        <label for="force_ocr">
            text recognition (OCR):
            <input type="checkbox" name="force_ocr" id="force_ocr">
        </label>
        <br>

        <label for="simple_and_lossless">
            simple and lossless:
            <input type="checkbox" name="simple_and_lossless" id="simple_and_lossless">
        </label>
        <br>

        <label for="tesseract_language">
            tesseract language:
            <select name="tesseract_language" id="tesseract_language">
                {% for lang in languages %}
                <option value="{{ lang.value }}">{{ lang.text }}</option>
                {% endfor %}
            </select>
        </label>
        <br>
    </div>
    <br>


</form>

<!---------------------------image of the "Croco-File"----------------------------------------------------------------->

<button id="submit-all">Submit all files</button>



<img id="picture_of_croco_file"
     src="https://media.istockphoto.com/vectors/illustration-of-a-smiling-crocodile-vector-id1182596568?k=20&m=1182596568&s=170667a&w=0&h=KfqG2ZxPQONZplvl501LTh_b97yfhoOqRzDJeiXGgOY="
     alt="Image of a friendly looking Crocodile in a comic art style."/>
<br>

<!----------------------------------------------Linking_Git------------------------------------------------------------>

<footer id="github_project_link">
    Do you want to review the project? Visit <a href="https://github.com/pIlIp-d/PDF-Compressor/tree/dev">github.com/Croco-File-Crusher</a>
    to have a look at the Croco-File-Crusher.
</footer>

<script>

Dropzone.options.myDropzone = {

  // Prevents Dropzone from uploading dropped files immediately
  autoProcessQueue: false,

  init: function() {
    var submitButton = document.querySelector("#submit-all");
        myDropzone = this; // closure

    submitButton.addEventListener("click", function() {
      myDropzone.processQueue(); // Tell Dropzone to process all queued files.
    });

    // You might want to show the submit button only when
    // files are dropped here:
    this.on("added-file", function() {
      // Show submit button here and/or inform user to click it.
    });

  }
};
</script>

</body>

</html>