<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ dir }}static/style.css">
    <script src="{{ dir }}static/dropzone/dropzone.js"></script>
    <link rel="stylesheet" href="{{ dir }}static/dropzone/dropzone.css">

    <title>Croco-File-Crusher</title>
</head>

<body>

<!------------------------------------------------Headline------------------------------------------------------------->
<div id="header">
    <h1 id="heading"> Croco-File-Crusher </h1>
    <h2 id="subheading"> Want to get rid of redundant data? </h2>
</div>

<div id="forms_container">
    <!----- compression options --------------------------------------------------------------------------------------->
    <form action="download/" method="post" name="compression_options_form" id="compression_options_form">
        {% csrf_token %}
        {{ form }}
    </form>
    <!----- Dropzone -------------------------------------------------------------------------------------------------->
    <form id="my-dropzone" action="api/upload_file/" method="post" class="dropzone">
        {% csrf_token %}
    </form>
</div>
<button id="compress_button" class="disabled">Compress</button>

<button id="download_button" class="disabled">Download!</button>
<!-- TODO css class 'disabled' -> render light gray until the class is 'enabled'-->

<!---------------------------image of the "Croco-File"----------------------------------------------------------------->
<img id="picture_of_croco_file"
     src="https://media.istockphoto.com/vectors/illustration-of-a-smiling-crocodile-vector-id1182596568?k=20&m=1182596568&s=170667a&w=0&h=KfqG2ZxPQONZplvl501LTh_b97yfhoOqRzDJeiXGgOY="
     alt="Image of a friendly looking Crocodile in a comic art style."/>
<br>

<!----------------------------------------------Linking_Git------------------------------------------------------------>
<footer id="github_project_link">
    Do you want to review the project? Visit <a href="https://github.com/pIlIp-d/PDF-Compressor/tree/dev">github.com/Croco-File-Crusher</a>
    to have a look at the Croco-File-Crusher.
</footer>

<script>

    let compress_button = document.getElementById("compress_button");
    let csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;

    Dropzone.options.maxFiles = 100;
    Dropzone.options.myDropzone = {
        // Prevents Dropzone from uploading dropped files immediately
        autoProcessQueue: true,
        init: function () {
            let _this = this;
            // You might want to show the compress-button only when
            // files are dropped here:
            this.on("addedfile", function (file) {
                if (!correct_file_ending(file.name)) {
                    this.removeFile(file);
                    showUnsupportedFileAnimation()
                    deactivate_compression_button();
                    return;
                } else {
                    deactivate_compression_button();
                }
                let removeButton = Dropzone.createElement("<button class='remove-button'>Remove file</button>");
                removeButton.addEventListener("click", function (e) {
                    // Make sure the button click doesn't submit the form:
                    e.preventDefault();
                    e.stopPropagation();
                    // Remove the file preview.
                    _this.removeFile(file);
                });
                file.previewElement.appendChild(removeButton);
                if (this.dropzone.getQueuedFiles().length === null) //TODO
                    deactivate_compression_button()
            });
            this.on("queuecomplete", function () {
                activate_compression_button();
            });
        }
    };

    function activate_compression_button() {
        compress_button.classList.remove("disabled");
        compress_button.classList.add("enabled");
        compress_button.disabled = false;
        compress_button.addEventListener("click", submit_compression_options_form);
    }

    function deactivate_compression_button() {
        compress_button.classList.remove("enabled");
        compress_button.classList.add("disabled");
        compress_button.disabled = true;
        compress_button.removeEventListener("click", submit_compression_options_form);
    }

    function submit_compression_options_form() {
        document.getElementById("compression_options_form").submit();
    }

    function correct_file_ending(filename) {
        let allowed_file_ending = [
            {% for ending in allowed_file_endings  %}
                "{{ ending }}",
            {% endfor %}
        ];
        for (let ending in allowed_file_ending) {
            if (ending != null && filename.endsWith(allowed_file_ending[ending])) {
                return true;
            }
        }
        return false;
    }

    // Animations
    function showUnsupportedFileAnimation() {
    }

    /*
        function main_interval() {
            make_request("GET", "../api/processing_of_queue_is_finished/", true,
                function () {
                    if (this.readyState === 4 && this.status === 200) {
                        let json_response = JSON.parse(this.response);
                        if (json_response.finished)
                            activate_download_button();
                    }
                }
            );
        }


        function activate_download_button() {
            let download_button = document.getElementById("download_button");
            make_request(
                "GET", "../api/download_processed_file/?queue_csrf_token=" + csrfmiddlewaretoken, true,
                function () {
                    if (this.readyState === 4 && this.status === 200) {
                        let json_response = JSON.parse(this.response);
                        if (json_response.hasOwnProperty("download_file_path")) {
                            // stop interval request for finished file
                            clearInterval(main_interval_obj);
                            // add file link to download
                            // TODO download_button.addEventListener(window.open(json_response.download_file_path));
                            // activate download button
                            download_button.classList.remove("disabled");
                            download_button.classList.add("enabled");
                        }
                    }
                }
            );
        }

        function make_request(method, url, async = true, response_handler = null, post_data = null) {
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = response_handler;
            xhttp.open(method, url, async);
            if (post_data != null) {
                xhttp.send(post_data);
            } else {
                xhttp.send();
            }
        }
    */
</script>

</body>