/* original by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip */

.form_element {
    position: relative;
}

.helptext {
    font-size: small;
}

.form_element .helptext {
    visibility: hidden;
    width: max-content;
    max-width: 60%;
    background-color: var(--help-text-background-color);
    color: var(--help-text-text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: min(25%, 200px);
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* bottom spike */
.form_element .helptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: min(50%, 50px);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--help-text-background-color) transparent transparent transparent;
}

.form_element:hover .helptext {
    visibility: visible;
    opacity: 1;
}