<div class="form_element" id="id_merge_pdfs">
    <span class="helptext">{{ form.merge_pdfs.help_text }}</span>
    <span>{{ form.merge_pdfs.label }}</span>
    {{ form.merge_pdfs }}
</div>
<div class="form_element" id="id_processing_file_extension">
    <span class="helptext">{{ form.processing_file_extension.help_text }}</span>
    <span>{{ form.processing_file_extension.label }}</span>
    {{ form.processing_file_extension }}
</div>
<div class="form_element" id="id_simple_and_lossless">
    <span class="helptext">{{ form.simple_and_lossless.help_text }}</span>
    <span>{{ form.simple_and_lossless.label }}</span>
    {{ form.simple_and_lossless }}
</div>
<div class="form_logic_container" id="not_lossless_container">
    <div class="form_element" id="id_compression_mode">
        <span class="helptext">{{ form.compression_mode.help_text }}</span>
        <span>{{ form.compression_mode.label }}</span>
        {{ form.compression_mode }}
    </div>
    <div class="form_element" id="id_default_pdf_dpi">
        <span class="helptext">{{ form.default_pdf_dpi.help_text }}</span>
        <span>{{ form.default_pdf_dpi.label }}</span>
        {{ form.default_pdf_dpi }}
    </div>
    <div class="form_element" id="id_ocr_mode">
        <span class="helptext">{{ form.ocr_mode.help_text }}</span>
        <span>{{ form.ocr_mode.label }}</span>
        {{ form.ocr_mode }}
    </div>
    <div class="form_logic_container" id="no_ocr_container">
        <div class="form_element" id="id_tesseract_language">
            <span class="helptext">{{ form.tesseract_language.help_text }}</span>
            <span>{{ form.tesseract_language.label }}</span>
            {{ form.tesseract_language }}
        </div>
    </div>
</div>
