<!DOCTYPE html>
<html lang="en">
<body>
<form name="submit" method=post enctype="multipart/form-data" action="TODO">

    <label for="source_file">
        source File:
        <input type="file" id="source_file" name="source_file" required>
    </label>
    <br>
    <label for="destination_file">
        destination File:
        <input type="text" id="destination_file" name="destination_file" value="default">
    </label>
    <br>
    <label for="compression_mode">
        Compression Mode:
        <select name="compression_mode" id="compression_mode">
            <option value="1">1: Minimum</option>
            <option value="2">2: Extreme</option>
            <option value="3">3: Strong</option>
            <option value="4">4: Fast</option>
            <option selected="selected" value="5">5: Fastest</option>
        </select>
    </label>
    <br>
    <label for="default_pdf_dpi">
        default pdf dpi:
        <input type="number" name="default_pdf_dpi" id="default_pdf_dpi" value="400" step="10">
    </label>
    <br>
    <label for="force_ocr">
        force_ocr:
        <input type="checkbox" name="force_ocr" id="force_ocr">
    </label>
    <br>  <label for="no_ocr">
        no_ocr:
        <input type="checkbox" name="no_ocr" id="no_ocr">
    </label>
    <br>
    <label for="simple_and_lossless">
        simple and lossless:
        <input type="checkbox" name="simple_and_lossless" id="simple_and_lossless">
    </label>
    <br>
    <label for="tesseract_language"><!--TODO dynamically generate-->
        tesseract_language:
        <select name="tesseract_language" id="tesseract_language">
            <option value="deu">Deutsch/German</option>
            <option value="eng">English</option>
        </select>
    </label>
    <br>
    <input type="submit" id="submit" name="submit" value="Compress">
</form>
</body>

</html>
</html>
